.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__sidebar {
    z-index: 2;

    @media (max-width: 750px) {
      display: none;
    }
  }

  &__content {
    z-index: 1;
    width: 100%;
    height: 100vh;
  }

  &__router {
    background-color: var(--color-background);
    height: calc(100vh - 68px - 68px);
    padding: 28px;
    overflow: auto;
  }

  &__content, &__header, &__footer {
    position: relative;
  }
}

