<div class="container">
  <div class="container__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="container__content">
    <div class="container__header">
      <app-header (clickedToExit)="logout()" (clickedToSidebar)="openSidebar()"></app-header>
    </div>

    <div class="container__router">
      <router-outlet></router-outlet>
    </div>

    <div class="container__footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="sidebar-wrapper" *ngIf="isSidebar$ | async">
  <app-sidebar></app-sidebar>
</div>
