.item {
  border-bottom: var(--border);

  &:hover {
    background-color: var(--color-hover);
  }

  &__link {
    padding: 22px 26px;
    height: 100%;
    width: 100%;
    font: var(--main-text);
    color: var(--color-text-dark);
    display: flex;
    align-items: center;
    gap: 10px;

    &_active {
      color: var(--color-blue);
      border-left: 4px solid var(--color-blue);
      background-color: var(--color-hover);
    }
  }
}

.icon {
  color: var(--color-text-superlight);
  width: 16px;
  height: 16px;
}

.item__link_active .icon {
  color: var(--color-blue);
}
