<h2 class="page-name">Список авто</h2>
<div class="content-card">
  <app-auto-list-filter></app-auto-list-filter>
  <div class="content-card__wrapper entities">
    <table class="content-card__table entities__table">
      <thead class="entities__header">
      <tr>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
      </thead>

      <tbody class="entities__body">
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      <tr>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
        <td>Header</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="content-card__pagination">
    <app-pagination [totalPages]="31"></app-pagination>
  </div>
</div>
