<div class="content" *ngIf="form">
  <div class="logo__wrapper">
    <app-logo class="logo"></app-logo>
  </div>

  <div class="auth">
    <h3 class="auth__title">Вход</h3>

    <div class="auth__error">
      <app-error *ngIf="error$ | async as error">{{error}}</app-error>
    </div>

    <form [formGroup]="form">
      <div class="field">
        <label for="username" app-label>Имя пользователя</label>
        <input app-input id="username" [invalid]="isUsername" type="text"
               formControlName="username">
        <app-error *ngIf="isUsername">Введите имя пользователя</app-error>
      </div>

      <div class="field">
        <label for="password" app-label>Пароль</label>
        <input app-input id="password" [invalid]="isPassword" type="password"
               autocomplete="off"
               formControlName="password">
        <app-error *ngIf="isPassword">Введите пароль</app-error>
      </div>
    </form>

    <div class="auth__action">
      <a class="auth__link" [href]="loginDetailsUrl">Запросить доступ</a>
      <button class="auth__btn" app-button (click)="submit()" [disabled]="form.invalid || form.pending">Войти</button>
    </div>
  </div>
</div>
