<div class="content" *ngIf="form">
  <div class="logo__wrapper">
    <app-logo class="logo"></app-logo>
  </div>

  <div class="auth">
    <h3 class="auth__title">Вход</h3>

    <form class="auth__form" [formGroup]="form">
      <div class="field">
        <label for="mail" app-label>Почта</label>
        <input app-input id="mail" class="input" [invalid]="isEmail || isEmailCorrect" type="email"
               formControlName="email">
        <app-error *ngIf="isEmail">Введите почту</app-error>
        <app-error *ngIf="isEmailCorrect">Введите корректную форму</app-error>
      </div>

      <div class="field">
        <label for="password" app-label>Пароль</label>
        <input app-input id="password" class="input" [invalid]="isPassword" type="password"
               autocomplete="off"
               formControlName="password">
        <app-error *ngIf="isPassword">Введите пароль</app-error>
      </div>
    </form>

    <div class="auth__action">
      <a class="auth__link" routerLink="#">Запросить доступ</a>
      <button class="auth__btn" app-button (click)="submit()">Войти</button>
    </div>
  </div>
</div>
