<div class="header">
  <label class="header__search" for="search">
    <svg class="search" icon="search"></svg>
    <input class="header__input" type="text" placeholder="Поиск..." id="search">
  </label>
  <div class="header__notification">
    <svg class="notification" icon="notification"></svg>
  </div>
  <div class="header__person">
    <img class="header__avatar" src="assets/img/avatar.jpg" alt="avatar">
    <span class="header__name">Admin</span>
    <svg class="arrow" icon="arrow-down"></svg>
  </div>
</div>
