<div class="header">
  <div class="header__sidebar" (click)="clickedToSidebar.emit()">
    <svg class="icon__menu" icon="menu"></svg>
  </div>

  <label class="header__search" for="search">
    <svg class="icon__search" icon="search"></svg>
    <input class="header__input" type="text" placeholder="Поиск..." id="search">
  </label>

  <div class="header__notification">
    <svg class="icon__notification" icon="notification"></svg>
  </div>

  <div class="header__person" (click)="exitModalOpen = ! exitModalOpen">
    <img class="header__avatar" src="assets/img/avatar.jpg" alt="avatar">
    <span class="header__name">Admin</span>
    <svg class="icon__arrow" icon="arrow-down"></svg>
  </div>

  <div class="header__exit" *ngIf="exitModalOpen" (click)="clickedToExit.emit()">
    <svg class="icon__exit" icon="exit"></svg>
    <span class="header__name">Выйти</span>
  </div>
</div>
