.header {
  display: flex;
  box-shadow: var(--shadow-header);
  background-color: var(--color-white);
  color: var(--color-text-main);
  height: 68px;

  &__sidebar {
    display: none;

    @media (max-width: 750px) {
      padding: 14px;
      border-right: var(--border);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__search {
    padding: 26px 28px;
    display: flex;
    align-items: center;
    gap: 9px;
    flex-grow: 1;

    @media (max-width: 750px) {
      padding: 14px;
      gap: 4px;
    }
  }

  &__input {
    border: none;
    padding: 0;
    font: var(--text);
  }

  &__notification {
    border-right: var(--border);
    border-left: var(--border);
    width: 68px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__person {
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 168px;
    padding: 14px 22px 14px 26px;
    cursor: pointer;

    @media (max-width: 400px) {
      width: fit-content;
      padding: 6px;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 42px;
    @media (max-width: 750px) {
      width: 24px;
    }
  }

  &__name {
    font: var(--main-text);

    @media (max-width: 400px) {
      display: none;
    }
  }

  &__exit {
    position: absolute;
    top: 68px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--color-white);
    width: 168px;
    height: 68px;
    padding: 14px 22px;
    box-shadow: var(--shadow-header);
    cursor: pointer;
    border-bottom-left-radius: var(--radius-btn);
    border-bottom-right-radius: var(--radius-btn);

    @media (max-width: 400px) {
      width: fit-content;
    }
  }
}

.icon {
  color: var(--color-text-superlight);

  &__search {
    width: 14px;
    height: 14px;
  }

  &__notification {
    width: 17px;
    height: 20px;
    color: var(--color-text-light);
  }

  &__arrow {
    width: 9px;
    height: 5px;

    @media (max-width: 400px) {
      display: none;
    }
  }

  &__exit {
    width: 16px;
    height: 16px;
    color: var(--color-danger);
  }

  &__menu {
    width: 16px;
    height: 16px;
  }
}

