.pagination {
  font: var(--main-text);
  color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  width: 210px;

  &__numbers {
    display: flex;
  }

  &__page, &__dots, &__prev, &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    min-width: 24px;
    height: 24px;
  }

  &__dots {
    cursor: default;
  }

  &__page, &__prev, &__next {
    cursor: pointer;

    &:disabled:not(.pagination__page_active) {
      opacity: 0.4;
      cursor: default;
    }

    &:hover:not(.pagination__page_active):not(:disabled) {
      background-color: var(--color-background);
      border-radius: 9px;
    }

    &_active {
      background-color: var(--color-blue);
      border-radius: 50%;
      color: var(--color-white);
      cursor: default;
    }
  }
}
