.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;

  &__code {
    color: var(--color-text-superlight);
    font: var(--error-code);
  }

  &__title {
    color: var(--color-text-dark);
    font: var(--error-title);
  }

  &__text {
    color: var(--color-text-light);
    font: var(--error-text);
  }
}
