<div class="container" *ngIf="form && filterData">
  <form class="filter" [formGroup]="form">
    <div>
      <select class="filter__field" app-input formControlName="interval"
              name="interval">
        <option [value]="null">Промежуток</option>
        <option *ngFor="let interval of filterData.interval" [value]="interval">{{interval}}</option>
      </select>
    </div>

    <div>
      <select class="filter__field" app-input formControlName="category"
              name="category">
        <option [value]="null">Категория</option>
        <option *ngFor="let category of filterData.category" [value]="category.id">{{category.name}}</option>
      </select>
    </div>

    <div>
      <select class="filter__field" app-input formControlName="city"
              name="city">
        <option [value]="null">Город</option>
        <option *ngFor="let city of filterData.city" [value]="city.id">{{city.name}}</option>
      </select>
    </div>

    <div>
      <select class="filter__field" app-input formControlName="status"
              name="status">
        <option [value]="null">Статус</option>
        <option *ngFor="let status of filterData.status" [value]="status.id">{{status.name}}</option>
      </select>
    </div>
  </form>

  <button app-button>Применить</button>
</div>
