@import "variables";

.field {
  display: flex;
  flex-direction: column;
  height: 65px;
}

.page-name {
  font: var(--page-name);
  color: var(--color-text-dark);
  margin-bottom: 28px;
}

.content-card {
  background-color: var(--color-white);
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-main);
  height: calc(100vh - 260px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    box-shadow: var(--shadow-card);
    height: 100%;
    padding: 0 21px;
    overflow-y: auto;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  &__pagination {
    margin: 21px auto 20px;
  }
}

.carPicture {
  display: block;
  object-fit: cover;
  position: relative;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
  }

  &:after {
    content: attr(alt);
    display: block;
    font: var(--text);
    color: var(--color-text-main);
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    width: 100%;
    text-align: center;
  }
}
