<form [formGroup]="form" *ngIf="settingsForm$ | async as settingsForm">
  <div class="info">
    <img class="info__picture" *ngIf="picture$ | async as picture" [src]="picture.src" [alt]="picture.alt">
    <h3 class="info__title">{{!!settingsForm.name ? settingsForm.name : 'Модель'}}</h3>
    <h4 class="info__subtitle">{{!!settingsForm.category ? settingsForm.category : 'Категория'}}</h4>
    <app-input-file (pictureSelected)="handlePictureSelect($event)"></app-input-file>
  </div>

  <div class="progress">
    <div class="progress__info">
      <span class="progress__title">Заполнено</span>
      <span class="progress__subtitle">{{percent}}%</span>
    </div>
    <div class="progress__scale">
      <div class="progress__scale_done" [style.width.%]="percent"></div>
    </div>
  </div>

  <div class="description">
    <label for="description" class="description__title">Описание</label>
    <textarea id="description" class="description__textarea" formControlName="description"
              placeholder="Введите пару слов о машине..."></textarea>
  </div>
</form>
