<div class="settings">
  <form class="settings__content" [formGroup]="form">
    <h3 class="settings__title">Настройки автомобиля</h3>

    <div class="settings__first-line">
      <div class="field">
        <label for="model" app-label>Модель автомобиля</label>
        <input id="model" app-input formControlName="name" placeholder="Введите модель авто...">
      </div>

      <div class="field">
        <label for="type" app-label>Категория автомобиля</label>
        <input id="type" app-input formControlName="category" placeholder="Введите категорию авто...">
        <!--        <app-error>Пример ошибки</app-error>-->
      </div>
    </div>


    <div class="field">
      <label for="color" app-label>Доступные цвета</label>
      <div class="field__color">
        <input id="color" class="field__input" app-input formControlName="colors"
               placeholder="Введите доступные цвета...">
        <div class="field__add">
          <svg class="icon" icon="add"></svg>
        </div>
      </div>
    </div>


    <div class="settings__checkboxes" *ngIf="form.get('colors')?.value">
      <app-checkbox idName="red" labelName="Красный"></app-checkbox>
      <app-checkbox idName="white" labelName="Белый"></app-checkbox>
      <app-checkbox idName="black" labelName="Черный"></app-checkbox>
    </div>
  </form>

  <div class="settings__action">
    <div class="settings__left-btns">
      <button app-button (click)="saved.emit()">Сохранить</button>
      <button app-button class="settings__action_cancel" (click)="canceled.emit()">Отменить</button>
    </div>
    <button app-button class="settings__action_delete" (click)="deleted.emit()">Удалить</button>
  </div>
</div>
